<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
    <title>SaifURL</title>
  </head>
  <body class="bg-light">
    <div class="container py-5">
      <h1 class="text-center mb-4 fw-bold text-primary">Saif URLs</h1>

      <!-- Token input and New URL Button -->
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="input-group w-50">
          <span class="input-group-text fw-bold">Token</span>
          <input
            id="tokeninput"
            class="form-control border-secondary"
            rows="1"
            placeholder="Enter your token here"
          />
        </div>
        <a id="createUrlButton" href="/new?token=" class="btn btn-primary"
          >Create New URL</a
        >
      </div>

      <div class="table-responsive shadow-sm rounded bg-white p-3">
        <table class="table table-striped table-hover align-middle">
          <thead class="table-dark">
            <tr>
              <th>Full URL</th>
              <th>Short URL</th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody>
            <% shortUrls.forEach(shortUrl => { %>
            <tr>
              <td>
                <a
                  href="<%= shortUrl.full %>"
                  target="_blank"
                  class="text-decoration-none text-primary"
                  ><%= shortUrl.full %></a
                >
              </td>
              <td>
                <a
                  href="<%= shortUrl.short %>"
                  class="text-decoration-none text-success"
                  ><%= shortUrl.short %></a
                >
              </td>
              <td class="text-center"><%= shortUrl.clicks %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <script>
      // Update the "Create New URL" button's href dynamically based on the token input value
      const tokeninput = document.getElementById("tokeninput");
      const createUrlButton = document.getElementById("createUrlButton");

      tokeninput.addEventListener("input", () => {
        const tokenValue = tokeninput.value.trim();
        createUrlButton.href = `/new?token=${encodeURIComponent(tokenValue)}`;
      });
    </script>
  </body>
</html>
